html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.main-information-wrap {
  align-items: center;
  background-image: url(../images/backgr.png);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.link {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div,
p {
  margin: 0;
  padding: 0;
}

.main-city-weather {
  padding: 38px;
  margin: auto;
  width: 280px;
  height: 191px;
  border-radius: 35px;
  background-color: rgba(0, 0, 0, 0.9);
}

// .main-city-weather__city-name {
// }
.main-city-weather__city-name,
.min-temperature__title,
.max-temperature__title {
  color: rgba(250, 251, 252, 0.59);
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.main-city-weather__img {
  display: block;
  margin: auto;
}

.main-city-weather__temperature {
  display: flex;
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
  line-height: 22px;
}

.temperature-difference {
  display: flex;
  margin: auto;
  width: 76px;
  height: 32px;
}

.min-temperature,
.max-temperature {
  width: 50%;
}
.min-temperature__value,
.max-temperature__value {
  color: #ffffff;
}

.main-buttons {
  padding-top: 32px;
  margin: 0 auto;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 272px;
}
.main-buttons__button-today,
.main-buttons__button-five-days {
  width: 126px;
  height: 29px;
  border-radius: 15px;
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;
  color: #000000;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

// date and time ================================
.date-time-wrap {
  width: 280px;
  padding: 38px;
  margin: auto;
  border-radius: 35px;
  background-color: rgba(16, 33, 54, 0.59);
}