html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 auto;
    min-width: 360px;
    background-image: url(../images/background/mobile_background.png);
  }
}
@media screen and (min-width: 769px) {
  body {
    margin: 0 auto;
    background-image: url(../images/background/tablet_background.png);
  }
}
@media screen and (min-width: 1096px) {
  body {
    margin: 0 auto;
    background-image: url(../images/background/desktop_background.png);
  }
}

.diagram {
  margin-bottom: 36px;
}
