<p class="more-info__time">{{this.time}}</p>
<img class="more-info__cloud-img" src="" alt="cloud" width="42" height="22" />
<p class="more-info__value">-2<span>&deg</span></p>
<div class="more-info__box-value">
    <div class="more-info__box-value-img">
        <img src="" alt="pressure" width="22" height="20" />
        <img src="" alt="precipitation" width="13" height="20" />
        <img src="" alt="wind" width="24" height="20" />
    </div>
    <div class="more-info__box-value-text">
        <span>723 mm</span>
        <span>54%</span>
        <span>3.7 ms</span>
    </div>
</div>