%chart-button-arrow {
    background-image: url(../images/icons/chevron/chevron_right-black-18dp/1x/baseline_chevron_right_black_18dp.png);
    background-position: center;
    background-repeat: no-repeat;
}

%colored-block-size {
    width: 13px;
    height: 12px;
}
