.date-quote-wrap {
    margin: 32px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.main-date-wrap {
    text-align: center;
    margin-right: 60px;
    margin-left: 60px;
    min-width: 320px;
    box-shadow: 0 8px 43px rgba(16, 33, 54, 0.59);
    border-radius: 35px;
    background-color: rgba(16, 33, 54, .6);
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    line-height: 22px;
    &__title {
        font-size: 45px;
        font-weight: 300;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        width: 180px;
        margin: 0 auto;
        &-month {
            font-size: 14px;
            padding-right: 33px;
            border: 1px rgba(255, 255, 255, 0.59);
            border-right-style: solid;
        }
        &-time {
            font-size: 14px;
            padding-left: 8px;
            padding-right: 20px;
        }
    }
    &__sun {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        width: 180px;
        margin: 0 auto;
        & img {
            margin-right: 9px;
            width: 25px;
            height: 33px;
            &:nth-last-child(2) {
                margin-left: 10px;
            }
        }
        &-sunrise {
            padding-right: 22px;
            border: 1px rgba(255, 255, 255, 0.59);
            border-right-style: solid;
            margin-bottom: 40px;
        }
    }
}

.quote-wrap {
    width: 360px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    &__text {
        margin-right: 12%;
        width: 208px;
        text-align: right;
        color: #ffffff;
        font-family: Lato;
        font-size: 14px;
        line-height: 21px;
        font-style: italic;
    }
    &__author {
        margin-right: 12%;
        width: 208px;
        text-align: right;
        color: #ffffff;
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
    }
}

@media screen and (min-width: 769px) {
    .main-date-wrap {
        width: 490px;
        &__title {
            font-size: 90px;
            font-weight: 300;
            margin-bottom: 35px;
            margin-top: 62px;
        }
        &__info-month {
            font-size: 18px;
            padding-right: 20px;
        }
        &__info-time {
            font-size: 18px;
        }
        &__sun {
            font-size: 18px;
            & img {
                margin-top: 4px;
                &:nth-last-child(2) {
                    margin-top: 4px;
                }
            }
            &-sunrise {
                margin-bottom: 60px;
            }
        }
    }
    .quote-wrap {
        width: 610px;
        &__text{
            width: 380px;
            font-size: 22px;
        }
        &__author {
            text-align: right;
            width: 490px;
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 1096px) {
    .main-date-wrap {
        width: 602px;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        &__title {
            padding-left: 112px;
            text-align: left;
            width: 100%;
        }
        &__info-month {
            font-size: 18px;
            padding-right: 20px;
        }
        &__info-time {
            font-size: 18px;
        }
        &__info {
            margin-bottom: 88px;
        }
        &__sun {
            margin-bottom: 46px;
        }
    }
    .date-quote-wrap {
        justify-content: space-between;
    }
    .quote-wrap {
        width: 376px;
        margin-right: 60px;
    }
} 