.date {
  &-container {
    margin: 0 auto;
    padding-bottom: 18px;
  }
  &-time {
    &-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      // min-width: 300px;
      margin: 0 auto;
      line-height: 0;
      overflow-x: hidden;
      &:hover{
        cursor: pointer;
        }
      // &:hover .date-time-wrap__title {
      //     color: #ff6b08;
      // }
    }
    &-arrow {
      display: flex;
      justify-content: space-between;
      width: 46px;
      min-width: 65px;
      margin: 0 auto;
      &-left {
        display: block;
        transform: rotate(200grad);
        background-color: #fff;
      }
      &-right {
        display: block;
        background-color: #fff;
      }
    }
    &-wrap {
      margin: 20px 0;
      text-align: center;
      min-width: 106px;
      &__title {
        margin: 0 auto;
        margin-bottom: 18px;
        color: #ffffff;
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.36px;
      }
      &__info-date {
        color: #ffffff;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.48px;
        margin: 0 auto;
        margin-bottom: 13px;
      }
      &__info-img {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
      }
      &__info-temperature {
        color: #ffffff;
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.36px;
        margin: 0 auto;
        padding: 0 4px;
      }
      &__info-temperature > span {
        display: block;
        color: #ff6b08;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.48px;
      }
    }
  }
}
.info-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.border {
  border-right: 1px solid #ffffff;
}
@media screen and (min-width: 769px) {
  .date {
    &-container {
      width: 80%;
    }
    &-time {
      &-wrap {
      // min-width: 80px;
        &__title {
          font-size: 14px;
          letter-spacing: 0.42px;
        }
        &__info-date {
          font-size: 18px;
          letter-spacing: 0.54px;
        }
        &__info-temperature {
          font-size: 14px;
          letter-spacing: 0.42px;
        }
      }
      &-arrow {
        display: none;
      }
    }
  }
  .date-time-wrap__info-temperature > span {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}
@media screen and (min-width: 1096px) {
  .date {
    &-container {
      width: 80%;
    }
    &-time {
      &-wrap {
        // min-width: 106px;
        &__title {
          font-size: 18px;
          letter-spacing: 0.54px;
        }
        &__info-date {
          font-size: 25px;
          letter-spacing: 0.75px;
        }
        &__info-temperature {
          font-size: 18px;
          letter-spacing: 0.54px;
        }
      }
    }
  }
  .date-time-wrap__info-temperature > span {
    font-size: 25px;
    letter-spacing: 0.75px;
  }
}
